.clear-cache-everywhere-notices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    left: 20px;
    top: 50px;
    z-index: 9999;
}
.cce-clear-cache-message {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    padding: 5px 10px;
    width: fit-content;
}
.cce-clear-cache-message.success {
    border-left-color: #00a32a;
}
.cce-clear-cache-message.error {
    border-left-color: #d63638;
}
.cce-clear-cache-message.info {
    border-left-color: #72aee6;
}